* {
    box-sizing: border-box;
}
:root {
   --color--red: #F55A5A;
    --color--white: #FFFFFF;
    --color--black: #2B283A;
    --color--grey: #918E9B;
}

nav {
    height: fit-content;
    display: flex;
    background-color: var(--color--red);
    color: white;
    justify-content: center
}
.fa-solid{
    color: var(--color--red);
    margin-right: 5px;
}
.primer-linea{
    display: flex;
}
.location{
    margin-right: 10px;
    font-family: Inter;
    text-transform: uppercase
}
.view{
    color: var(--color--grey);
    text-decoration:underline;
}
.div--container{
    display: flex;
    margin-top: 30px;
}
.img{
    height: 250px;
    width: 150px;
}
.div--title{
   margin-top: -30px;
}
.centrado{
    margin-left: 20px;
}
